*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'sans-serif';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(219, 219, 219);
}
.wrapper{
    background-color:#fff;
    width: 450px;
    border-radius: 16px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    0 32 64px -48px rgba(0, 0, 0, 0.5);
}

.form{
    padding:25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom:1px solid #e6e6e6;
}
.form form{
    margin: 20px 0;
}
.form form .error{
    color:#721c24;
    background: #f8d7da;
    padding:8px 10px;
    text-align: center;
    border-radius:5px;
    margin-bottom: 10px;
    border:1px solid #f5c6cb;
    display: none;
}
.form form .field{
    display:flex; 
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .name-details{
    display:flex;
} 
form .name-details .field:first-child{   
    margin-right:10px; 
}

form .name-details .field:last-child{
    margin-left: 10px;
}

.form form .field label{
    margin-bottom: 2px;
}

.form form .field input{
    outline: none;
}

.form form .input input{
    height:40px;
    width:100%;
    font-size: 16px;
    padding:0 10px;
    border:1px solid #ccc;
    border-radius: 5px;
}

.form form .image input{
    font-size:17px;   
}

.form form .button input{
    margin-top: 13px;
    height:45px;
    border:none;
    font-size: 17px;
    font-weight: 400;
    background:#0066ff;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
}
.form .link{
    text-align:center;
    margin:10px 0;
    font-size: 17px;
}
.form .link a{
    color:#333;
}
.form .link a:hover{
    text-decoration: underline;
}

.form form .field i{
    position:absolute;
    right:15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .field i.active::before{
    color:#333;
    content:"\f070";
}

.users{
    padding:25px 30px;
}
.user-list a,
.users header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

.content{
    display: flex;
    align-items: center;
}
.content img{
    height:50px;
    width:50px;
}

.detail{
    color:#000;
    margin-left: 15px;
}

.user-list .detail span{
    font-size: 18px;
    font-weight: 500;
}

.content span{
    font-weight: 500;
    font-size: 18px;
}
header .logout{
    font-size: 17px;
    padding: 7px 15px;
    color:#fff;
    background: #0066ff;
    border-radius:5px;
}
.search{
    margin:20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.search .text{
    font-size: 18px;
}
.search input{
    position: absolute;
    height: 42px;
    width:85%;
    padding:0 13px;
    border:1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    opacity: 0;
    pointer-events: none;
    transition:all 0.2s ease;
}
.search input.active{
    opacity: 1;
    pointer-events: auto;
}
.users .search button.active{
    color: #fff;
    background: #333;
}
.search button {
    width: 47px;
    height: 42px;
    border: none;
    outline:none;
    border-radius: 5px;
    color:#0066ff;
    font-size: 17px;
    background: #fff;
    cursor: pointer;
    transition:all 0.2s ease;
}
.user-list a .content img{
    height: 40px;
    width:40px;
}
.users header .content,
.user-list a .content{
    display: flex;
    align-items: center;
}
.user-list a .content p{
    color:#67676a;
}
.user-list{
    max-height: 350px;
    overflow-y:auto ;
}
.user-list::-webkit-scrollbar{
    width: 0;
}
.user-list a{
    margin-bottom: 15px;
    page-break-after:10px ;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}
.user-list a:last-child{
    border: none;
    margin-bottom: 0;
}
.user-list a .status-dot{
    font-size:12px;
    color: #1bb31d;
}
.user-list a .status-dot.offline{
    color: #ff0000;
}
.search button.active i::before{
    content: "\f00d";
}

.chat-area header{
    display: flex;
    align-items: center;
    padding:18px 30px;
}
.chat-area header .back-icon{
    font-size:18px;
    color:#0077ff;
}
.chat-area header img{
    height:45px;
    width: 45px;
    margin: 0 15px;
}
.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    height: 500px;
    overflow-y: auto;
    background:#f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0 0 0/5%),
                inset 0 -32px -32px -32px rgba(0 0 0/5%);
}

.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0/8%),
                0 0 16px -16px rgba(0 0 0/10%);
}

.chat-box .outgoing{
    display: flex;
}
.outgoing .chat-mes{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .chat-mes p{
    background: linear-gradient(109.6deg, rgb(120, 143, 251) 11.2%, rgb(133, 235, 255) 91.1%);;
    color:#fff;
    border-radius:18px 18px 0 18px;
}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}

.chat-box .chat{
    margin:15px 0;
}

.chat-box .incoming img{
    height:35px;
    width:35px;
}
.chat-box::-webkit-scrollbar{
    width:0;
}
.incoming .chat-mes{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .chat-mes p{
    background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);;
    color:#fff;
    border-radius:18px 18px 18px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input{
    height: 45px;
    width:calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #eee;
    padding: 0 13px;
    border-radius:5px 0 0 5px;
    outline: none;
}
.typing-area button{
    width:55px;
    border:none;
    outline:none;
    background:#333;
    color:#fff;
    font-size: 19px;
    border-radius:0 5px 5px 0;
}